.movies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  row-gap: 2rem;
  column-gap: 3rem;
}

@media screen and (max-width: 1000px) {
  .movies {
    grid-template-columns: 1fr;
  }
}
