.header {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pagination {
  padding-top: 1rem;
  display: flex;
}

.pagination__item {
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  background: none;
  color: rgba(0, 0, 0, 0.65);
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.pagination__item:first-child {
  padding-right: 0.5rem;
}

.pagination__item:last-child {
  padding-left: 0.5rem;
}

.pagination__item--active {
  color: #1890ff;
  border-bottom: 2.24px solid #1890ff;
  padding-bottom: 0.4rem;
}
