.container {
  width: 80%;
  height: 100%;
  background-color: white;
  margin: 0 auto;
}
.content {
  width: 90%;
  display: flex;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.ant-alert {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto !important;
}

.ant-tabs-top > .ant-tabs-nav::before {
  width: 9%;
  margin-left: auto;
  margin-right: auto;
}

.ant-spin {
  display: flex !important;
  justify-content: center;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
@media (max-width: 599px) {
  .container {
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0 auto;
  }
  .content {
    width: 90%;
    display: flex;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .ant-tabs-top > .ant-tabs-nav::before {
    width: 28%;
    margin-left: auto;
    margin-right: auto;
  }
}